<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{tournaments.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{tournaments.title}}</h3>
  <div class="detail owner">
    <span>Event Organizer:</span> {{tournaments.organizer}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{tournaments.category}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{tournaments.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of attendee:</span> {{tournaments.attendee}}
  </div>

<div class="detail attendees">
  <span>Current Attendees:  </span> {{#each-in tournaments.people as |attendslot name|}}
    {{name}}
  {{/each-in}}
</div>


  <div class="detail bedrooms">
      {{#link-to 'tournamentpage.tournamentpage' tournaments.id}}Tourney Page{{/link-to}}
  </div>
  {{location-map location=tournaments.city}}

</article>
