<div class = "jumbo">
  <div class = "title">
    <h1>{{model.title}}</h1>
    <img class = "right" src = {{model.image}}/>
  </div>
  <div class = "tourneydetails">
    <p>{{model.attendee}}</p>
  </div>
  <div>
    <h2>{{model.category}}</h2>
  </div>
  <div>
    <h2>{{model.city}}</h2>
  </div>
  <div>
    <p>{{model.description}}</p>
  </div>
  <div>
    <p>Contact Organizer: {{model.organizer}}</p>
  </div>
</div>
<div class = "container">
<article class = "listing map page">
    {{location-map location=model.city}}
</article>
</div>
