<div class = "jumbo">
  <div class = "title">
    <h1>{{model.title}}</h1>
    <img class = "right" src = {{model.image}}/>
  </div>
  <div class = "tourneydetails">
  <div>
    <h3>Headline Game: {{model.category}}</h3>
  </div>
  <div>
    <p>Event Description: {{model.description}}</p>
  </div>
  <div>
    <p>Contact Organizer: <a href = "mailto: {{model.organizer}}">{{model.organizer}}</a></p>
  </div>
  <div>
    <p> Number of Attendees: {{model.attendee}}</p>
  </div>
  <div>
    <p>Venue Location: {{model.city}}</p>
  </div>
  <div>
    <p>Attendee List:</p>
    <ol>
    {{#each model.people as |competitor|}}
      <li>{{competitor.email}} </li>
    {{/each}}
  </ol>
  </div>
</div>

</div>
<div class = "container">
<article class = "listing map page">
    {{location-map location=model.city}}
</article>
</div>
